* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.risultato {
  text-align: center;
  color: darkslategrey;
  float: left;
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #78bbcb;
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  background-color: #78bbcb;
}

body > h1,
h3 {
  text-align: center;
}

.jesus-left {
}

.jesus-right {
}
